@import 'tailwindcss';

@layer base {
  :root {
    --text-color: rgb(255, 255, 255);
    --bg-color: rgb(25, 25, 25);
  }
  
  body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  table {
    border-collapse: collapse;
  }

  .debug{
    outline: 1px solid red
  }
}

